html {
    background-color: #E4E9FD;
    background: linear-gradient(300deg, #072c38, #C70039,#1b074c);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;
    forced-color-adjust: white;
  }
 .fontclr{
   color: #fff;
 }
 h3.fontclr{
  text-align: center;
  font-size: 1.4rem;
 }
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .stylebox {
    max-width: 400px;
    margin: 50px auto;
    margin-bottom: 11px;
    background: linear-gradient(300deg, #072c38, #1b074c);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    background-color: #653eaa;
    font-size: 1.1rem;

  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p.fontclr {
    margin: 0;
    padding: 20px;
    font-size: 1.34rem;
    font-weight: 200;
    
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button[type="submit"] {
    min-height: 20px;
    width: 30px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #c7b8e1;
    color: #fff;
    font-size: 22px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #7645c9;

    margin-bottom: 6%;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .completedheading{
    display: flex;
    margin-top: 0;
    font-size: 20px;
  }

  .completedtask{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #FFB26B;
    font-size: 1.1rem;
    width: 330px;
    margin: 10px;
    justify-content: space-between;
  }

  .completed{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .delete-btn{
    border-color: transparent;
    background-color: transparent;
    font-size: 19px;
    color: #F7F1E5;
  }